.name textarea{
    resize:none;
    margin: auto;
    margin-bottom: 15px;
    padding: 10px;
    width: 100%;
    height: 40px
}

.article textarea{
    resize:none;
    margin: auto;
    /* margin-top: 15px; */
    padding: 10px;
    width: 100%;
    height: 400px
}
.story-text{
    width: 85%;
    margin: auto;
    padding: 10px;
}

.inputText{
    width: 85%;
    margin: auto;
    padding: 10px;
}

.td-1{
    vertical-align:top;
    font-size: 16px;
    font-family: "Montserrat", sans-serif;
    width:20%;
} 
.td-2{
    vertical-align:top;
    width:70%;

} 

.btn{
    text-align: center;
}

.input button {
    padding-top: 20px;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    margin: 20px 10px;
    padding: 8px 10px;
    border: none;
    border-radius: 5px;
    background-color: #58504A;
    color: #E5E9Ec;
}

.input button:hover {
    cursor: pointer;
    background-color: #2C2825;
    transition: ease-in-out 0.3s;
}

.story-text {
    width: 85%;
    margin: auto;
    padding: 10px;
}

.story-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 20px;
    gap: 30px;
}

.story-info::after {
    content: '';
    padding: 15px;
}

.story-text-full {
    font-size: 20px;
}

.title {
    font-weight: bold;
    font-size:21px;
}

.tag {
    width: fit-content;
    padding: 5px;
    border-radius: 5px;
}

.Historical.Fiction {
    border: 1px solid lightblue;
    background-color: lightblue;
}

.Romance {
    border: 1px solid pink;
    background-color:pink;
}

.Science.Fiction {
    border: 1px solid lightgreen;
    background-color: lightgreen;
}

.Mystery {
    border: 1px solid lightcoral;
    background-color: lightcoral;
}