.story {
    border: 2px solid lightgrey;
    border-radius: 15px;
    margin: 15px;
    padding: 15px;
    display: grid;
    grid-template-columns: auto 200px;
    grid-template-rows: auto;
    grid-template-areas:
        "title tag"
        "text text";
}

h1 {
    padding-left: 17px;
}

.title {
    grid-area: title;
}

.text {
    grid-area: text;
}

.story:hover {
    background-color: lightgrey;
    cursor: pointer;
}

.tag {
    width: fit-content;
    grid-area: tag;
    padding: 5px;
    border-radius: 10px;
}

.Historical.Fiction {
    border: 1px solid lightblue;
    background-color: lightblue;
}

.Romance {
    border: 1px solid pink;
    background-color:pink;
}

.Science.Fiction {
    border: 1px solid lightgreen;
    background-color: lightgreen;
}

.Mystery {
    border: 1px solid lightcoral;
    background-color: lightcoral;
}