.story {
    border: 2px solid #cad1dd;
    border-radius: 15px;
    margin: 15px 5%;
    padding: 15px;
    padding-top: 0px;
    display: flex;
    flex-direction: column;
    background-color: #cad1dd;
}

.story > p {
    margin: 10px;
    font-size: 18px;
}

h1 {
    padding-left: 17px;
}

h2 {
    padding-bottom: 20px;
}

.top-row > * {
    margin: 10px;
}

.top-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.story:hover {
    background-color: #b1b6d1;
    cursor: pointer;
    transition: ease-in 0.2s;
    border-color: #b1b6d1;
}

.tag {
    width: fit-content;
    padding: 5px;
    border-radius: 5px;
}

.contributors {
    font-style: italic;
    /* opacity: 80%; */
}

.Historical.Fiction {
    background-color: lightblue;
}

.Romance {
    background-color:pink;
}

.Science.Fiction {
    background-color: green;
    color: white;
}

.Mystery {
    background-color: purple;
    color: white;
}