.story {
    border: 2px solid lightgrey;
    border-radius: 15px;
    margin: 15px;
    padding: 15px;
    display: grid;
    grid-template-columns: auto 200px;
    grid-template-rows: auto;
    grid-template-areas:
        ". tag"
        "text"
}

h1 {
    padding-left: 17px;
}

.text {
    grid-area: "text";
}

.story:hover {
    background-color: lightgrey;
    cursor: pointer;
}

.Historical.Fiction {
    grid-area: "tag";
    border: 1px solid lightblue;
    width: fit-content;
    background-color: lightblue;
    padding: 5px;
    border-radius: 10px;
}

.Romance {
    border: 1px solid pink;
    background-color:pink;
    width: fit-content;
    padding: 5px;
    border-radius: 10px;
    grid-area: "tag";
}

.Science.Fiction {
    border: 1px solid green;
    background-color: green;
    width: fit-content;
    padding: 5px;
    border-radius: 10px;
    grid-area: "tag";
}

.Mystery {
    border: 1px solid purple;
    background-color: purple;
    width: fit-content;
    padding: 5px;
    border-radius: 10px;
    grid-area: "tag";
}